---
import { getLocalIPAddress } from "../utils/getLocalIP";

const localIP = getLocalIPAddress();
const serverUrl = `https://${localIP}:2000`;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tablet Interface</title>
  </head>
  <body>
    <h1>Tablet Interface</h1>
    <p id="session-info">Initializing...</p>
    <video id="remote-video" autoplay playsinline></video>
    <canvas id="overlay" width="1280" height="720"></canvas>
    <!-- <button onclick="initApp(false, 'tablet', 'remote-video')"
      >Join Session</button
    > -->
    <button class="start_session">Join Session</button></body
  >
  <script src={`${serverUrl}/socket.io/socket.io.js`} is:inline></script>
  <script src="/simplepeer.min.js" is:inline></script>
  <script src="/webrtctablet.js" type="module"></script>
</html>
