---
import "@/styles/reset.css";
import "@/styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tablet Interface</title>
  </head>

  <body>
    <nav class="navbar"></nav>
    <h1 class="hidden">Tablet Interface</h1>
    <div class="pages_container">
      <div class="page start"></div>
      <div class="page instruction1 hidden"></div>
      <div class="page instruction2 hidden"></div>
      <div class="page instruction3 hidden"></div>
      <div class="page application hidden">
        <canvas class="canvas"></canvas>
        <div class="tools">
          <button class="tool" data-tool="pen">Pen</button>
          <button class="tool" data-tool="eraser">Eraser</button>
          <button class="tool" data-tool="clear">Clear</button>
        </div>
      </div>
    </div>

    <script src="/socket.io/socket.io.js" is:inline></script>
    <script src="/simplepeer.min.js" is:inline></script>
    <script src="/webrtc.js" type="module"></script>
  </body>
</html>
