---
import "@/styles/reset.css";
import "@/styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Segmentation Test</title>
  </head>
  <body>
    <h1 class="hidden">Webcam Image Segmentation</h1>
    <section id="demos" class="invisible">
      <h2 class="hidden">Webcam Segmentation</h2>
      <p>
        Hold objects close to your webcam to see segmentation in real-time.<br
        />
        Click the button below to enable or disable the webcam.
      </p>
      <div class="absolute">
        <button id="webcamButton">ENABLE SEGMENTATION</button>
        <button id="saveButton">SAVE IMAGE</button>
      </div>
      <video class="hidden" id="webcam" autoplay playsinline muted></video>
      <div class="container">
        <canvas class="canvas1"></canvas>
        <canvas class="canvas2"></canvas>
        <canvas class="canvas3"></canvas>
        <canvas class="canvas4"></canvas>
      </div>
    </section>
    <script src="/src/scripts/segmentation.js" type="module"></script>
  </body>
</html>
